# db and test db
DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/db
TEST_DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/test_db

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TEST_DB=

# redis url
REDIS_URL=redis://localhost:6390/0

RABBITMQ_PASSWORD=

# SMTP
SENDER_EMAIL=
SMTP_PASSWORD=
SMTP_HOSTNAME="smtp.gmail.com"
SMTP_PORT=587


